extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/mainPage.css")

block content
  div#mainContainer
    each job in jobs
      a(href=`/job/${job.job_name}`) #{job.job_name} - #{job.job_description}


block scripts
  script(src="/scripts/mainPage.js")