extends layout.pug

block style
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin="")
  link(rel="stylesheet", href="/stylesheets/viewJob.css")


block content
  div#mainContainer
    div#addTicketPopup
      h1#exitButton(onclick="toggleTicketPopup()") X
      h1#ticketHeaderPopup Loading...
      input(type="text", id="cityInput").popupInput
      label(for="cityInput", id="cityLabel").popupLabel City
      input(type="text", id="streetInput").popupInput
      label(for="streetInput", id="streetLabel").popupLabel Street
      input(type="text", id="crossStreetInput").popupInput
      label(for="crossStreetInput", id="crossStreetLabel").popupLabel Cross Street
      textarea(type="text", id="descriptionInput", rows="4", cols="30")
      label(for="descriptionInput", id="descriptionLabel").popupLabel Desc.
      input(type="date", id="inputDateInput")
      label(for="inputDateInput", id="inputDateLabel") Input Date
      input(type="date", id="expirationDateInput")
      label(for="expirationDateInput", id="expirationDateLabel") Exp Date

      button(onclick="confirmTicket()", id="confirmPopupButton") Confirm
      button(onclick="cancelTicket()", id="cancelPopupButton") Cancel
    div#map
    div#leftControlContainer
      input(type="number", id="ticketInput")
      button(id="addTicketButton", onclick="addTicket()") Add Ticket
    div#rightControlContainer
      h1 more random stuff

block scripts
  script(async src="https://ga.jspm.io/npm:es-module-shims@1.5.5/dist/es-module-shims.js")
  script(type="importMap").
    {
      "imports": {
        "leaflet": "https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      }
    }
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js", integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==", crossorigin="")
  script(src="/scripts/viewJob.js", type="text/javascript")